<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h3 class="display-3">NOS AVENTURES!</h3>
    <p class="lead">
      Voici la liste de nos avantures. Vous pouvez également consulter le détails de chaque aventure. 
    </p>
    <p class="lead">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident similique inventore officia explicabo id eos, odit vel ad minus est eaque nesciunt repellendus, nihil et ea hic? Commodi aliquam, quidem saepe reprehenderit quisquam, minus expedita, optio quia veniam facilis rem ex error. Voluptas autem reprehenderit quo facere quod. Cum, ullam! 
    </p>
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <div *ngFor="let adv of adventureList" class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{ adv.image }}" alt="" [ngClass]="{'card-img-top-no-image' : adv.image == null}"/>
        <div class="card-body">
          <h4 class="card-title">{{ adv.title }}</h4>
          <p class="card-text">{{ adv.description }}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" routerLink= "/adventures/{{ adv.id }}"
            >Voir details</a>
        </div>
      </div>
    </div>
    <div>
      <ul *ngIf="pages" class="nav">
        <li *ngFor="let p of pages; let i=index" class="nav-item" style="padding: 10px;"
        [ngClass]="i==currentPage?'active':''">
          <a (click)="getPage(i)" style="color: #fff; cursor: pointer;">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
