<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h3 class="display-3">LIVE EPIC MOMENTS!</h3>
    <p class="lead">
      Réservez parmi 6827 activités d'aventures dans le monde entier !
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['allAventures']"
      >Voir les aventures disponible !</a
    >
  </header>

  <!-- Page Features -->
  <div class="row text-center">
    <div *ngFor="let adv of aventureList" class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="{{ adv.image }}" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ adv.title }}</h4>
          <p class="card-text">{{ adv.description }}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" [routerLink]="['aventure', adv.id]"
            >Voir details</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
