.card-img-top {
  width: 100%;
  height: 150px;
}

.card-img-top-no-image{
  background-color: rgba(0, 0, 0, 0.03);
}

.jumbotron {
  color: #343a40;
  height: 200px;
}
.display-3 {
  font-size: 1.9rem !important;
  font-weight: 500 !important;
  margin-top: -45px;
}
