.img-fluid {
    max-width: 350px !important;
    border-radius: 15px;
    max-height: 300px !important;
  }
  .display-3 {
    font-size: 2.5rem !important;
    font-weight: 400;
    line-height: 1.2;
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecefcf !important;
    border-radius: 0.3rem;
  }
  