<div class="container">
  <header class="jumbotron my-4">
    <h3 class="display-3">NOS AVENTURES!</h3>
    <p class="lead">
      Réservez parmi nos différentes activités d'aventures dans le monde entier
      !
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['adventures']"
      >Voir les aventures disponible !</a
    >
  </header>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, saepe aspernatur eos atque incidunt laudantium. Dolorum architecto sint blanditiis sequi optio, eligendi voluptas enim. Modi veritatis a architecto accusantium libero, culpa quis est ullam vero deserunt quidem saepe voluptates aperiam commodi alias accusamus cum aspernatur neque consequatur molestiae possimus facere natus? Doloribus, quibusdam! Laborum, deleniti necessitatibus magnam consequatur eos explicabo amet ratione cum aliquid eaque veritatis fuga nulla excepturi molestias, eveniet quam perferendis illo! Vel consequatur ratione dolorem id eum at possimus quasi consequuntur quo quia laboriosam, sapiente nemo officiis provident, hic rerum ab optio repudiandae illum, blanditiis eligendi exercitationem!</p>
  </div>
</div>