@import "~bootstrap/dist/css/bootstrap.min.css";

.navbar {
  background-color: #f8f9fa;
}
.navbar .brand-navbar img:hover {
  opacity: 0.7;
}
.navbar ul {
  padding: 0px 0px 0px 45px;
}
.text {
  padding-left: 100px;
}
.navbar ul li a {
  color: #495057;
  margin: 0px 0px 0px 45px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: BOLD;
  cursor: pointer;
}

.navbar ul li a .fas {
  padding-right: 5px;
  padding-left: 5px;
}
.navbar ul li a:hover {
  color: #007bff;
}
.active {
  color: #007bff !important;
}
.navbar ul li.active > a {
  color: #007bff; 
  font-weight: bold;
  font-size: 14px;
  border-radius: 40px;
}
.iconStyle {
  color: #007bff;
}

/*=====================================Slier============================================*/
