<div class="container">
    <header class="jumbotron my-4">
      <div style="display: flex;">
        <div>
            <p>Session 1</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fuga repellendus totam aut ad voluptates reprehenderit rerum libero voluptatem maxime!</p>
            <form class="d-flex justify-content-left">
                <!-- Default input -->
                <a class="btn btn-primary" routerLink=""
                  >Reserver cette session</a>
              </form>
        </div>
        <div>
            <p>Session 1</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fuga repellendus totam aut ad voluptates reprehenderit rerum libero voluptatem maxime!</p>
            <form class="d-flex justify-content-left">
                <!-- Default input -->
                <a class="btn btn-primary" routerLink=""
                  >Reserver cette session</a>
              </form>
        </div>
        <div>
            <p>Session 1</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fuga repellendus totam aut ad voluptates reprehenderit rerum libero voluptatem maxime!</p>
            <form class="d-flex justify-content-left">
                <!-- Default input -->
                <a class="btn btn-primary" routerLink=""
                  >Reserver cette session</a>
              </form>
        </div>
      </div>
    </header>
  </div>
  