<div class="container">
  <div *ngIf="addedToBasket" class="alert alert-success" role="alert" style="margin-top: 2rem;">
    La session a bien été ajouté dans votre panier.
  </div>
  <div *ngIf="sessionAlreadyExist" class="alert alert-danger" role="alert" style="margin-top: 2rem;">
    Une erreur est survenue : la session a déjà été ajouté dans le panier.
  </div>
    <header class="jumbotron my-4">
      <div style="display: flex;">
        <div>
            <p>Cette page est réservée pour la consultation des sessions disponible pour l'aventure que vous avez sélectionée. Vous pouvez dès maintenant réserver la session en l'ajoutant au panier</p>
        </div>
      </div>
    </header>

    <div class="row text-center">
      <div *ngFor="let session of sessionsByAdv" class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text">{{ session.startDate }}</p>
            <p class="card-text">{{ session.endDate }}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="createOrderDemand(session.id)">Ajouter la session au panier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  